:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
#ship {
  background-image: url("../ship.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}
#space {
  max-width: "100%";
  width: 50px;
  height: 50px;
  max-height: "100%";
  background-color: transparent;
}
#wrap {
  color: white;
}
#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  align-self: center;
  align-items: center;
  background-color: transparent;
}

.grid-item {
  padding: 0.5em;
  border: 1px solid #ddd;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

#asteroid {
  background-image: url(../asteroid.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

#station {
  background-image: url(../station.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

#planet {
  background-image: url(../planet.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
#meteor {
    background-image: url(../meteor.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}
#recipe{
  background-image: url(../recipe.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.controlCenter {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

input {
  color: black;
}
body {
  color: white;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
.jumbotron {
  background-color: transparent;
}

#space{
  z-index: 1;
  text-align: center;
  opacity: 0.90;
  color: #187dff;
  font-size: 50px;
  font-family: starnext;
}
#log{
  height:50%;
}

#sensor{
  height: 100px;
  border-radius: 100px;
  color: #fff;
  background-color: red;
  width: 100px;
  font-size: 15px;
  text-align: center;
}

#save{
   border-radius: 30px;
   color: #fff;
   background-color: rgba(0, 161, 236, 0.68);
   margin: 5px;
 }

#quit{
  border-radius: 30px;
  color: #fff;
  background-color: #ec660dad;
  margin: 5px;
}

/*
            Stylized background borrowed from Nazar The Vis Azhar, via https://codepen.io/NazarTheVis/pen/zqXMqP
         */
@import "susy";
@import "compass/reset";

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 100s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

 @font-face {
      font-family: 'starnext';
      src: url('starnext.ttf') format('truetype');
    }

    @font-face {
      font-family: 'arcade';
      src: url('arcade.ttf') format('truetype');
    }

.sups{
  width:80px;
  color: #37ff05;
  background-color: transparent;
  border:none;
  text-align: center;
}

.words{
  font-family: arcade;
  color: #fff;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 500px;
    height:500px;
    overflow: hidden;
}

.rPanel{
    position:absolute;
    top: 0px;
    right:0px;
    height: 100%;
    width:400px;
    padding:15px 0 0 0;
    align-content: center;
    text-align: center;
}

.lPanel{
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:400px;
    padding:15px 0 0 0;
    align-content: center;
    text-align: center;
}

.movement{
  font-family: arcade;
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: white;
  height: 70px;
  width: 70px;
}

.moveButtons{
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 15px;
    padding-bottom: 15;
}

.btn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    background: radial-gradient(71.50px at 50% 50%, #240506 0%, #240506 50.68%, #800F16 54.34%, #BF2E33 57.08%, #F5383E 58.06%, #CE061A 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.63), inset 0px 0px 6px rgba(0, 0, 0, 0.26);
    margin: 5px;
}

.btn-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 200ms, scale 300ms;
    transform: translate(-50%,-51%);
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background: radial-gradient(53.50px at 50% 50%, #DD4A4F 0%, #E5373F 52.19%, #D43338 49.98%, #ED454A 60.4%, #D91222 100%);
    box-shadow: 0px 0px 3px rgba(255, 166, 166, 0.63), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 40px 20px rgba(0, 0, 0, 0.11);
}

.btn-inner:hover {
  transform: translate(-50%,-50%);
}

.btn-inner:active {
  transform: scale(0.98) translate(-51%,-52%);
  background: radial-gradient(53.50px at 50% 50%, #DD4A4F 0%, #E5373F 65.19%, #D43338 83.98%, #ED454A 88.4%, #D91222 100%);
  box-shadow: inset 0px 40px 20px rgba(18, 9, 9, 0.15);
}

.btn-text {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-heigth: 700;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
}

.btn-green {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: pointer;
  background: radial-gradient(71.50px at 50% 50%, #052405 0%, #050B24 50.68%, #10450B 54.34%, #49D932 57.08%, #38F540 58.06%, #1FBF2F 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.77), inset 0px 0px 6px rgba(0, 0, 0, 0.26);
}

.btn-green-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 200ms, scale 300ms;
  transform: translate(-50%,-51%);
  border-radius: 100px;
  width: 70px;
  height: 70px;
  background: radial-gradient(53.50px at 50% 50%, #43D640 0%, #45E537 52.19%, #36D433 49.98%, #48ED45 60.4%, #16D912 100%);
  box-shadow: 0px 0px 3px rgba(166, 180, 255, 0.55), 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 40px 20px rgba(0, 0, 0, 0.14);
}

.btn-green-inner:hover {
  transform: translate(-50%,-50%);
}

.btn-green-inner:active {
  transform: scale(0.98) translate(-51%,-52%);
  background: radial-gradient(53.50px at 50% 50%, #43D640 0%, #45E537 65.19%, #36D433 83.98%, #48ED45 88.4%, #16D912 100%);
  box-shadow: inset 0px 40px 20px rgba(0, 0, 0, 0.17);
}

.footer{
  position:absolute;
  width:100%;
  bottom: 0px;
}

.foot{
  width: 750px;
  margin: 0px auto;
  text-align: center;
}

.header{
  position: absolute;
  width: 100%;
  top: 10px;
  text-align: center;
}

.head{
  width:800px;
  margin: 0px auto;
}
