:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
#ship {
  background-image: url("../ship.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}
#space {
  max-width: "100%";
  width: 50px;
  height: 50px;
  max-height: "100%";
  background-color: transparent;
}
#wrap {
  color: white;
}
#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  align-self: center;
  align-items: center;
  background-color: transparent;
}

.grid-item {
  padding: 0.5em;
  border: 1px solid #ddd;
  height: 100px;
  width: 100px;
  background-color: transparent;
}

#asteroid {
  background-image: url(../asteroid.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
#station {
  background-image: url(../station.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
#planet {
  background-image: url(../planet.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.controlCenter {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

input {
  color: black;
}
body {
  color: white;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
.jumbotron {
  background-color: transparent;
}

#sensor{
  border-radius: 30px;
  color: #4e4b4b;
  background-color: #ff0000ad;
}

#save{
   border-radius: 30px;
   color: #4e4b4b;
   background-color: #ec660dad;
   margin: 5px;
 }

#quit{
  border-radius: 30px;
  color: #4e4b4b;
  background-color: rgba(0, 161, 236, 0.68);
  margin: 5px;
}

/*
            Stylized background borrowed from Nazar The Vis Azhar, via https://codepen.io/NazarTheVis/pen/zqXMqP
         */
@import "susy";
@import "compass/reset";

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 100s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
